@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/t5t4IRoeKYORG0WNMgnC3seB1V3_rbuG.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/t5t7IRoeKYORG0WNMgnC3seB1fHuupymeg.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/t5t7IRoeKYORG0WNMgnC3seB1ZXtupymeg.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/t5tmIRoeKYORG0WNMgnC3seB3T7Pqg.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/t5t7IRoeKYORG0WNMgnC3seB1c3supymeg.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/t5t7IRoeKYORG0WNMgnC3seB1YXqupymeg.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/t5t7IRoeKYORG0WNMgnC3seB1Znpupymeg.ttf) format('truetype');
}
@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/t5t7IRoeKYORG0WNMgnC3seB1b3oupymeg.ttf) format('truetype');
}
