@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/pe0sMISdLIZIv1wAxDNCBfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/pe0sMISdLIZIv1wAoDBCBfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/pe0vMISdLIZIv1wICxJS.ttf) format('truetype');
}
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/pe0sMISdLIZIv1wA-DFCBfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/pe0sMISdLIZIv1wA1DZCBfe6.ttf) format('truetype');
}
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/pe0sMISdLIZIv1wAsDdCBfe6.ttf) format('truetype');
}
